<br>
<br>

<div class="container">
  {{#each posts}}
  <div class="row">
    <div class="col-sm-4">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
      <a class="card-header flex-row justify-space-between" href="/dashboard/edit/{{id}}">✍️</a>
      {{body}}
    </div>
  </div>
  {{/each}}
</div>