<br>
<br>

<div class="container">
  {{#each posts}}
  <div class="row">
    <div class="card">
      <h3>{{title}}</h3>
      <pre>
        <code>
          {{body}}
        </code>
      </pre>
    </div>
  </div>
  {{/each}}
</div>