<br>
<br>

<div class="container">
  {{#each posts}}
  <div class="row">
    <div class="card">
      <span>{{title}}</span>
       <pre>
        <code class="language-js">
          {{body}}
        </code>
      </pre>
    </div>
  </div>
  {{/each}}
</div>