   
<br>
  <div class="home-title-container">
      <h2 class="home-title text-center">Ready. Set. Learn.</h2>
   </div>
   <div class="container text-center">
      <h3 class="mission">Our Misssion</h3>
      <p>
         <strong>Code-a-pedia </strong> is a place where individuals can come to learn terms/slangs used in the coding field. Wherever you are at in your coding journey, we want Code-A-Pedia to empower people <strong>to understand</strong> what a certain <strong>code word or block</strong>  does. Through Code-a-pedia we hope to achieve higher confidence in coding.
      </p>
   </div>
<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/pexels-karolina-grabowska-5706020.jpg" class="rounded mx-auto d-block" style="width: 50%"
          alt="image of flashcards">
      </div>
      <div class="carousel-item">
        <img src="./images/pexels-oluwaseun-duncan-226232.jpg" class="rounded mx-auto d-block" style="width: 50%"
          alt="image of computer with code on screen">
      </div>
      <div class="carousel-item">
        <img src="./images/pexels-photo-4939667.jpg" class="rounded mx-auto d-block" style="width: 22.5%"
          alt="person studying">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      <div class="container text-center">-You can't connect the dots looking forward. You can only connect them looking backward. 
        <br>
        <strong>-Steve Jobs</strong></div>