   
   <br>
 
   <div class="container text-center"><strong>Code-a-pedia help individuals</strong>  to understand terms/slangs used in the field. This is so we can help people going through imposter syndrome or people who want <strong>to know</strong> what a certain <strong>code</strong>  does,creating our own cloud based coding community. Providing help to one another with codes in just <strong>defintion</strong>  as it will be easy to read. Through Code-a-pedia we hope to achieve our confidence in coding.</div>
<br>
      <div class="container text-center">-You can't connect the dots looking forward. You can only connect them looking backward. 
        <br>
        <strong>-Steve Jobs</strong></div>