   
<br>
 <div class="container text-center"><strong>Code-a-pedia help individuals</strong>  to understand terms/slangs used in the field. This is so we can help people going through imposter syndrome or people who want <strong>to know</strong> what a certain <strong>code</strong>  does,creating our own cloud based coding community. Providing help to one another with codes in just <strong>defintion</strong>  as it will be easy to read. Through Code-a-pedia we hope to achieve our confidence in coding.</div>
<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/pexels-karolina-grabowska-5706020.jpg" class="rounded mx-auto d-block" style="width: 50%"
          alt="image of flashcards">
      </div>
      <div class="carousel-item">
        <img src="./images/pexels-oluwaseun-duncan-226232.jpg" class="rounded mx-auto d-block" style="width: 50%"
          alt="image of computer with code on screen">
      </div>
      <div class="carousel-item">
        <img src="./images/pexels-photo-4939667.jpg" class="rounded mx-auto d-block" style="width: 22.5%"
          alt="person studying">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      <div class="container text-center">-You can't connect the dots looking forward. You can only connect them looking backward. 
        <br>
        <strong>-Steve Jobs</strong></div>