<div class="col-4 py-2 my-2 rounded mx-auto d-block">
  <div class="card-header">
    <h2>What's the Code Word?</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Code Word Name</label>
    <input type="text" name="post-title" class="form-control" />
    <label class="form-label" for="post-body">Code Word Definition</label>
    <textarea name="post-body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary my-2 mx-auto w-100">Create Code Word</button>
  </form>
</div>

<div class="container text-center"><strong>Thanks for your contribution. You are officially a Code-E </strong><br>
  <img src="/images/code-a-pedia.png">
</div>



<script src="/js/post.js"></script>