<h2 class="text-center">Meet Our Team</h2>
    <div class="container">
        <div class="row">
            <div class="col border border-dark rounded">
                <div class="p-3">
                    <div class="mx-auto w-50">
                       <img width="200" src="https://media-exp1.licdn.com/dms/image/C4E03AQErQfuTqlTz8w/profile-displayphoto-shrink_200_200/0/1516613490062?e=1664409600&amp;v=beta&amp;t=B-9WD8BxBE5uHzCHQzfgipiZMXQZu8EI4Bu8y3Unhyg" height="200" alt="Phinjock Sherpa" id="ember221" class="ember-view profile-photo-edit__preview">
                    </div>
                    <h4 class="text-center">Phinjock Sonam Sherpa aka Pj</h4>
                    <p class="text-center">Originally from Nepal. Lived in India for 3 years.Graduated my Bachelors in Accounting and worked as an Accountant(to name a few companies I worked for a subsidiary of MasterCard called Pinpoint Marketing & SonyMusic Australia), lived in Australia for 10+years. I have a strong sense to ensure accountability from my past expriences, therefore have a high level of attention to detail. My objective is to progress as a Web-Developer by advancing the skill and knowledge I possess. I am highly self motivated and have a can do attitude with the ability to learn new systems and processes quickly. Other than that I just love travelling. </p>
                    <p class="text-center"><strong>Software Engineer</strong></p>
                </div>
            </div>

            <div class="col border border-dark rounded">
                <div class="p-3">
                    <div class="mx-auto w-50">
                        <img src="images/kaihuan huang.PNG" width="200" height="221" class="" alt="kaihuanhuang">
                    </div>
                    <h4 class="text-center">Kaihuan Huang</h4>
                    <p class="text-center">I am currently an MSc candidate in Computer Science with Artificial Intelligence at the University of York in the United Kingdom. In addition, I am studying Full Stack Web Development at the UC Berkeley Extension School. I have worked at the $30B electric car company NIO and LG in various functions such as intern and marketing. A few years ago, I moved to the United States to pursue new opportunities and improve my English and Spanish skills. After moving to Silicon Valley and meeting many brilliant people here, I decided that I want to pursue a career as a software engineer. I have always enjoyed math and loved learning about future technologies. I believe this is the best path for my skills and interests. </p>
                    <p class="text-center"><strong>Software Engineer</strong></p>
                </div>
            </div>

            <div class="col border border-dark rounded">
                <div class="p-3">
                    <div class="mx-auto w-50">
                        <img src="./images/pexels-karolina-grabowska-5706020.jpg" width="200" height="200" class="rounded-circle img-thumbnail" alt="...">
                    </div>
                    <h4 class="text-center">Name</h4>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <p class="text-center"><strong>Title Here</strong></p>
                </div>
            </div>
        </div>
    </div>
<br>
