{{!-- this div can be taken off if not needed for background --}}
<div class="developer-background">
    <h2 class="text-center">Meet Our Team</h2>
        <div class="container">
            <div class="row">
                <div class="col border rounded mx-4 shadow">
                    <div class="p-3">
                        <div class="image-container">
                            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQErQfuTqlTz8w/profile-displayphoto-shrink_200_200/0/1516613490062?e=1664409600&amp;v=beta&amp;t=B-9WD8BxBE5uHzCHQzfgipiZMXQZu8EI4Bu8y3Unhyg" alt="Phinjock Sherpa" id="ember221" class="img ember-view profile-photo-edit__preview">
                        </div>
                        <h4 class="text-center mt-4">Phinjock Sonam Sherpa aka Pj</h4>
                        <p class="text-center">Originally from Nepal. Lived in India for 3 years.Graduated my Bachelors in Accounting and worked as an Accountant(to name a few companies I worked for a subsidiary of MasterCard called Pinpoint Marketing & SonyMusic Australia), lived in Australia for 10+years. I have a strong sense to ensure accountability from my past expriences, therefore have a high level of attention to detail. My objective is to progress as a Web-Developer by advancing the skill and knowledge I possess. I am highly self motivated and have a can do attitude with the ability to learn new systems and processes quickly. Other than that I just love travelling. </p>
                        <p class="text-center"><strong>Software Engineer</strong></p>
                        <div class="d-flex justify-content-center">
                            <a href="" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-2"></i></a>
                            <a href="mailto:email@email.com"><i class="fa-solid fa-envelope fa-2xl mx-2"></i></a>
                            <a href="portfoliolinkurl" target="_blank"><i class="fa-solid fa-user fa-2xl mx-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col border rounded mx-4 shadow">
                    <div class="p-3">
                        <div class="image-container">
                            <img src="images/kaihuan huang.PNG" class="img" alt="kaihuanhuang">
                        </div>
                        <h4 class="text-center mt-4">Kaihuan Huang</h4>
                        <p class="text-center">I am currently an MSc candidate in Computer Science with Artificial Intelligence at the University of York in the United Kingdom. In addition, I am studying Full Stack Web Development at the UC Berkeley Extension School. I have worked at the $30B electric car company NIO and LG in various functions such as intern and marketing. A few years ago, I moved to the United States to pursue new opportunities and improve my English and Spanish skills. After moving to Silicon Valley and meeting many brilliant people here, I decided that I want to pursue a career as a software engineer. I have always enjoyed math and loved learning about future technologies. I believe this is the best path for my skills and interests. </p>
                        <p class="text-center"><strong>Software Engineer</strong></p>
                        <div class="d-flex justify-content-center">
                            <a href="" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-2"></i></a>
                            <a href="mailto:email@email.com"><i class="fa-solid fa-envelope fa-2xl mx-2"></i></a>
                            <a href="portfoliolinkurl" target="_blank"><i class="fa-solid fa-user fa-2xl mx-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col border rounded mx-4 shadow">
                    <div class="p-3">
                        <div class="image-container">
                            <img src="images/fausto.jpeg" class="img" alt="savannahfausto">
                        </div>
                        <h4 class="text-center mt-4">Savannah Fausto</h4>
                        <p class="text-center">Greetings! Originally from Southern California, I have relocated lightyears away into the Bay Area in Northern California to attend UC Berkeley. I graduated in 2018 with a degree in Molecular and Cell Biology. Since then, I have done volunteer work and have completed an Americorps Service working in clinics to support underserved communities and populations. Now, I am working as a server at a local Oakland Restaurant and I am currently studying Full Stack Web Development through UC Berkeley Extension. Working on this project has allowed me to align my longtime love for making knowledge accessible to the masses and my new love for learning to code. I am excited to continue my journey in Web Development as it combines my passion for design, continuous learning opportunities, and working in team environments.</p>
                        <p class="text-center"><strong>Software Engineer</strong></p>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.linkedin.com/in/savannah-fausto-03047523b/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-2"></i></a>
                            <a href="mailto:savannahfausto@gmail.com"><i class="fa-solid fa-envelope fa-2xl mx-2"></i></a>
                            <a href="https://savannahfausto.github.io/Challenge_2_SavannahFausto_First_Portfolio/" target="_blank"><i class="fa-solid fa-user fa-2xl mx-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
</div>

